
    <script>
        valine.init({
            el: '#vcomments',
            appId: '6hAdTuCfrIfNF4jDjWPrq57n-gzGzoHsz',  //這裏填入你的appId
            appKey: 'qYwfOQuGC5YIytrYGzbrXsNy', //這裏填入你的appKey
            avatar: 'robohash',//头像默认显示随机小机器人
            placeholder: placeholder, //评论区占位提示符
            enableQQ: true,//填入QQ邮箱自动拉取QQ头像和昵称
            lang:'zh-CN', //多语言支持
            requiredFields: ['nick'], //设置必填项
            recordIP: false, //是否记录评论者IP
            visitor: true //文章阅读量统计
            });
    </script>
